cssselect==0.9.1
dj-database-url==0.4.1
Django==2.2.24
django-filter==2.4.0
djangorestframework==3.11.2
flup==1.0.2
gunicorn==19.10.0
lxml==4.6.3
Markdown==2.6.6
pymongo==2.8
pyquery==1.2.9
python-dateutil==2.4.1
pytz==2016.7
six==1.9.0
whitenoise==3.2.1
django-treebeard==4.1.0
markdown2==2.4.2
bleach==3.3.0
html5lib>=0.99999999 # not directly required, pinned by Snyk to avoid a vulnerability
